:root {
  /* For ease of use and maintenance, feel free to modify the following variables */
  --text-main-color: #A4DAF2;
  --text-lead-color: #AEBDF9;
  --text-global-color: #AEBDF9;
  --timeline-circle-color: #FFC700;
  --timeline-line-color: #D61800;
  --element-bg-color: #FFC700;
  --global-bg-image: url('./img/FOND.png');
  --global-bg-color: #f3dbb4;  /* To use when no global-bg-image */
  --icon-target: url('./img/icon.png');
  --icon-time: url('./img/icon.png');
  --icon-online: url('./img/icon.png');
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--global-bg-image) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-color: var(--global-bg-color);*/

  font-family: futura,sans-serif;
  color: var(--text-main-color);
}

.bg-global {
  background-color: var(--element-bg-color);
}

.text-global {
  color: var(--text-global-color);
}

.lead {
  color: var(--text-lead-color);
}

.display-1, .display-2, .display-3, .display-4{
  font-family: rig-solid-bold-fill,sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}

main .container {
  margin-bottom: 1rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background: var(--timeline-line-color);
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}

ul.timeline > li:before {
  content: ' ';
  background: var(--timeline-circle-color);
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid var(--timeline-line-color);
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.target {
  background: var(--icon-target) no-repeat;
  background-size: 42px;
  line-height: 42px;
  padding-left: 0px;
  padding-bottom: 7px;
  list-style: none;
}

.time {
  background: var(--icon-time) no-repeat;
  background-size: 42px;
  line-height: 42px;
  padding-left: 50px;
  padding-bottom: 7px;
  list-style: none;
}

.online {
  background: var(--icon-online) no-repeat;
  background-size: 42px;
  line-height: 42px;
  padding-left: 50px;
  padding-bottom: 7px;
  list-style: none;
}

#twitch {
    margin-bottom: 2.5rem;
}