html {
  scroll-behavior: smooth;
}

body {
  background-color: #f3dbb4;
  font-family: futura,sans-serif;
}

.bg-brown {
  background-color: #d3ad11;
}

.text-brown {
  color: #7c551f;
}

.display-1, .display-2, .display-3, .display-4{
font-family: rig-solid-bold-fill,sans-serif;
font-weight: 700;
font-style: normal;
  text-transform: uppercase;

}

.jumbotron {
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-bottom: 0;
  background-color: #f3dbb4;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d3ad11;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: #f3dbb4;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #d3ad11;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}